.modal-error {
  .modal-header {
    background: #da5f6a;
    border: none;

    .close {
      color: white;

      &:focus {
        outline: none;
      }
    }

    .modal-title {
      color: white;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .modal-body {
    border: none;
  }

  .modal-footer {
    padding-top: 0;
    border: none;
  }
}
